/* Estilo general - No coincide dentro de ninguna resolucion*/
body {
    font-family: sans-serif;
    background-color: whitesmoke;
}
.title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
    margin: auto;
}
.subtitle{
    font-family: 'Pridi', serif;
        font-size: 20px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
}
p{
    font-family: Montserrat;
    text-align: justify;
}


body{
    background: whitesmoke;
}
.logo{
    grid-area: 1 / 1 / 2 / 2;
    display: grid; 
    place-content: center;
}
.logo img{
    width: 48px;
    height: 48px;
}

.back{
    background: transparent;
    border: 0px transparent;
    width: 48px;
    height: 48px;
    padding: 0%;
}
.back img{
    width: 48px;
    height: 48px;
}
.contact{
    background: lightblue;
    border: 1px solid whitesmoke;
    width: 100px;
    height: 40px;
}



#advertisement{
    display: none;
}

/* PROBANDO 
container 
    .container{
    display: grid;
    place-items: center;
    align-items: center;
    position: absolute; 
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%); 
    }
    */


/* MainScreen */
#mainScreen {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    
    /* display: none; */
}  

#gameName { grid-area: 2 / 2 / 3 / 5; }
#dropDown { 
    grid-area: 1 / 5 / 2 / 6; 
    display: grid; 
    place-content: center; 
}
#play { grid-area: 3 / 3 / 4 / 4; }

#dropDown button{
    border: 1px solid whitesmoke;
    background: whitesmoke;
}
#dropDown img{
    width: 48px;
    height: 48px;
}
#play button{
    background: whitesmoke;
    border: 1px solid whitesmoke;
}
#play img{
    width: 112px;
    height: 112px;
}
#list{
    display: none;
}

/* About Us */
#aboutUs {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, auto); 
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;

    display: none;
}
#aboutUs .logo{ grid-area: 1 / 2 / 2 / 3; }
#titleAU { grid-area: 1 / 3 / 2 / 8; }
#backAU { 
    grid-area: 1 / 8 / 2 / 9;
    display: grid; 
    place-content: center; 
}
#nameRey { grid-area: 2 / 2 / 3 / 3; }
#nameDaniel { grid-area: 2 / 4 / 3 / 5; }
#nameAdrian { grid-area: 2 / 6 / 3 / 7; }
#nameNicolas { grid-area: 2 / 8 / 3 / 9; }
#photoRey { grid-area: 3 / 2 / 4 / 3; }
#photoDaniel { grid-area: 3 / 4 / 4 / 5; }
#photoAdrian { grid-area: 3 / 6 / 4 / 7; }
#photoNicolas { grid-area: 3 / 8 / 4 / 9; }
#pagraphRey { grid-area: 4 / 2 / 5 / 3; }
#pagraphDaniel { grid-area: 4 / 4 / 5 / 5; }
#pagraphAdrian { grid-area: 4 / 6 / 5 / 7; }
#pagraphNicolas { grid-area: 4 / 8 / 5 / 9; }
#contactRey { grid-area: 5 / 2 / 6 / 3; }
#contactDaniel { grid-area: 5 / 4 / 6 / 5; }
#contactAdrian { grid-area: 5 / 6 / 6 / 7; }
#contactNicolas { grid-area: 5 / 8 / 6 / 9; }

#aboutUs h3{
    width: 210px;
}
.photos{
    width: 96px;
    height: 96px;
}
.pagraphs{
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Contact Us */
#contactUs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;

    /* display: none; */
}  
#titleCU { grid-area: 1 / 2 / 2 / 3; }
#backCU { 
    grid-area: 1 / 3 / 2 / 4; 
    display: grid; 
    place-content: center; 
}
#contactContainer { 
    grid-area: 2 / 2 / 3 / 3; 
    background-color: aquamarine;
    width: 500px;
    height: 300px;
    margin-bottom: 10px;
}
#contact { grid-area: 3 / 2 / 4 / 3; }

#contactContainer h3{
    text-align: left;
    margin-left: 25px;
}
#contactContainer p{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#nameBox{
    width: 445px;
}
#emailBox{
    width: 445px;
}

/* Credits */
#credits {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;

    display: none;
}
    
#titleC { grid-area: 1 / 3 / 2 / 4; }
#backC { 
    grid-area: 1 / 5 / 2 / 6; 
    display: grid; 
    place-content: center end; 
}
#creatorsContainer { grid-area: 2 / 2 / 3 / 3; }
#thirdPartyContainer { grid-area: 2 / 4 / 3 / 5; }
#thanks { 
    grid-area: 3 / 2 / 4 / 5;
    text-align: center;
    width: auto;
}
#credits .subtitle{
    width: auto;
}
#credits p{
    width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* You Win */
#youWin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    display: none; 
} 
    #titleYW { grid-area: 1 / 1 / 2 / 2; }
    #win { grid-area: 2 / 1 / 3 / 2; }
    #continue { grid-area: 3 / 1 / 4 / 2; }

    #win img{
        width: 128px;
        height: 128px;
    }

/* You Died */
#youDied {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    display: none;
} 
#titleYD { grid-area: 1 / 1 / 2 / 2; }
#died { grid-area: 2 / 1 / 3 / 2; }
#retry { grid-area: 3 / 1 / 4 / 2; }

#died img{
    width: 128px;
    height: 128px;
}

/* Tip-Hint */
.hint {
    display: flex;
    flex-direction: column;
    width: 80%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    display: none; 
    }
    #exclamation {
        grid-area: 1 / 1 / 2 / 2;
        display: grid; 
        place-content: center start; 
        margin-left: 10px;
    }
    #titleT { 
        grid-area: 1 / 1 / 2 / 2; 
        border: 5px solid black;
        height: 50px;
    }
    .hintBox { grid-area: 2 / 1 / 3 / 2; }
    #backC { grid-area: 3 / 1 / 4 / 2; }

    #exclamation img {
        width: 48px;
        height: 48px;
    }
    #titleT h3{
        text-align: center;
        font-size: 36px;
    }
    #hintText{
        width: 400px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }


/* Estilo para celular en horizontal*/
@media only screen 
and (max-device-width: 932px)
and (max-device-height: 430px)
and (-webkit-min-device-pixel-ratio: 1){

    body{
        background: whitesmoke;
    }
    .logo{
        grid-area: 1 / 1 / 2 / 2;
        display: grid; 
        place-content: center;
    }
    .logo img{
        width: 48px;
        height: 48px;
    }

    .back{
        background: transparent;
        border: 0px transparent;
        width: 48px;
        height: 48px;
        padding: 0%;
    }
    .back img{
        width: 48px;
        height: 48px;
    }
    .contact{
        background: lightblue;
        border: 1px solid whitesmoke;
        width: 100px;
        height: 40px;
    }

    

    #advertisement{
        display: none;
    }
    

    /* PROBANDO 
    container 
      .container{
        display: grid;
        place-items: center;
        align-items: center;
        position: absolute; 
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%); 
     }
     */
    

    /* MainScreen */
    #mainScreen {
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: repeat(4, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        text-align: center;
        
        /* display: none; */
    }  
    
    #gameName { grid-area: 2 / 2 / 3 / 5; }
    #dropDown { 
        grid-area: 1 / 5 / 2 / 6; 
        display: grid; 
        place-content: center; 
    }
    #play { grid-area: 3 / 3 / 4 / 4; }
    
    #dropDown button{
        border: 1px solid whitesmoke;
        background: whitesmoke;
    }
    #dropDown img{
        width: 48px;
        height: 48px;
    }
    #play button{
        background: whitesmoke;
        border: 1px solid whitesmoke;
    }
    #play img{
        width: 112px;
        height: 112px;
    }
    #list{
        display: none;
    }

    /* About Us */
    #aboutUs {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(5, auto); 
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        text-align: center;

        display: none;
    }
    #aboutUs .logo{ grid-area: 1 / 2 / 2 / 3; }
    #titleAU { grid-area: 1 / 3 / 2 / 8; }
    #backAU { 
        grid-area: 1 / 8 / 2 / 9;
        display: grid; 
        place-content: center; 
    }
    #nameRey { grid-area: 2 / 2 / 3 / 3; }
    #nameDaniel { grid-area: 2 / 4 / 3 / 5; }
    #nameAdrian { grid-area: 2 / 6 / 3 / 7; }
    #nameNicolas { grid-area: 2 / 8 / 3 / 9; }
    #photoRey { grid-area: 3 / 2 / 4 / 3; }
    #photoDaniel { grid-area: 3 / 4 / 4 / 5; }
    #photoAdrian { grid-area: 3 / 6 / 4 / 7; }
    #photoNicolas { grid-area: 3 / 8 / 4 / 9; }
    #pagraphRey { grid-area: 4 / 2 / 5 / 3; }
    #pagraphDaniel { grid-area: 4 / 4 / 5 / 5; }
    #pagraphAdrian { grid-area: 4 / 6 / 5 / 7; }
    #pagraphNicolas { grid-area: 4 / 8 / 5 / 9; }
    #contactRey { grid-area: 5 / 2 / 6 / 3; }
    #contactDaniel { grid-area: 5 / 4 / 6 / 5; }
    #contactAdrian { grid-area: 5 / 6 / 6 / 7; }
    #contactNicolas { grid-area: 5 / 8 / 6 / 9; }
    
    #aboutUs h3{
        width: 210px;
    }
    .photos{
        width: 96px;
        height: 96px;
    }
    .pagraphs{
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    /* Contact Us */
    #contactUs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        text-align: center;

        /* display: none; */
    }  
    #titleCU { grid-area: 1 / 2 / 2 / 3; }
    #backCU { 
        grid-area: 1 / 3 / 2 / 4; 
        display: grid; 
        place-content: center; 
    }
    #contactContainer { 
        grid-area: 2 / 2 / 3 / 3; 
        background-color: aquamarine;
        width: 500px;
        height: 300px;
        margin-bottom: 10px;
    }
    #contact { grid-area: 3 / 2 / 4 / 3; }
    
    #contactContainer h3{
        text-align: left;
        margin-left: 25px;
    }
    #contactContainer p{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #nameBox{
        width: 445px;
    }
    #emailBox{
        width: 445px;
    }

    /* Credits */
    #credits {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        text-align: center;

        display: none;
    }
        
    #titleC { grid-area: 1 / 3 / 2 / 4; }
    #backC { 
        grid-area: 1 / 5 / 2 / 6; 
        display: grid; 
        place-content: center end; 
    }
    #creatorsContainer { grid-area: 2 / 2 / 3 / 3; }
    #thirdPartyContainer { grid-area: 2 / 4 / 3 / 5; }
    #thanks { 
        grid-area: 3 / 2 / 4 / 5;
        text-align: center;
        width: auto;
    }
    #credits .subtitle{
        width: auto;
    }
    #credits p{
        width: 300px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    /* You Win */
    #youWin {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);

        display: none; 
    } 
        #titleYW { grid-area: 1 / 1 / 2 / 2; }
        #win { grid-area: 2 / 1 / 3 / 2; }
        #continue { grid-area: 3 / 1 / 4 / 2; }

        #win img{
            width: 128px;
            height: 128px;
        }

    /* You Died */
    #youDied {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);

        display: none;
    } 
    #titleYD { grid-area: 1 / 1 / 2 / 2; }
    #died { grid-area: 2 / 1 / 3 / 2; }
    #retry { grid-area: 3 / 1 / 4 / 2; }

    #died img{
        width: 128px;
        height: 128px;
    }

    /* Tip-Hint */
    .hint {
        display: flex;
        flex-direction: column;
        width: 80%;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);

        display: none; 
        }
        #exclamation {
            grid-area: 1 / 1 / 2 / 2;
            display: grid; 
            place-content: center start; 
            margin-left: 10px;
        }
        #titleT { 
            grid-area: 1 / 1 / 2 / 2; 
            border: 5px solid black;
            height: 50px;
        }
        .hintBox { grid-area: 2 / 1 / 3 / 2; }
        #backC { grid-area: 3 / 1 / 4 / 2; }

        #exclamation img {
            width: 48px;
            height: 48px;
        }
        #titleT h3{
            text-align: center;
            font-size: 36px;
        }
        #hintText{
            width: 400px;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }
}

/* Estilo para celular en vertical*/
@media only screen 
and (max-device-width: 430px)
and (max-device-height: 932px)
and (-webkit-min-device-pixel-ratio: 1){

    #mainScreen {
        display: none;
    }
    #list{
        display: none;
    }
    #aboutUs {
        display: none;
    }
    #contactUs {
        display: none;
    }
    #credits {
        display: none;
    }
    #thanks {
        display: none;
    }
    #youWin {
        display: none;
    }
    #youDied {
        display: none;
    }
    .hint {
        display: none;
    }
    
    #advertisement {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    } 
    #titleA { grid-area: 2 / 1 / 3 / 2; }
    #rotate { grid-area: 3 / 1 / 4 / 2; }
    #pagraph { grid-area: 4 / 1 / 5 / 2; }

    #rotate img{
        width: 96px;
        height: 96px;
        transform: scaleX(-1);
    }
    #messageA{
        font-size: 20px;
    }
  
}


#div1escena{
    width: 10%;
    position: absolute;
    top: 40%;
    left: 90%;
}

#div2escena{
    width: 10%;
    position: absolute;
    top: 80%;
    left: 45%;
}

#div3escena{
    width: 10%;
    position: absolute;
    top: 40%;
    left: 0%;
}

#div4escena{
    width: 10%;
    position: absolute;
    top: 0%;
    left: 45%;
}









